@use '@angular/material' as mat;

@import './material-theme.scss';

@include mat.all-component-typographies();
@include mat.core();

$dark-primary-text: rgba(0, 0, 0, 0.87);
$light-primary-text: white;

$bicm-blue: mat.define-palette(
  (
    50: #0099f9,
    100: #008ae0,
    200: #007ac6,
    300: #006aad,
    400: #005b93,
    500: #004b7a,
    600: #003b60,
    700: #002c47,
    800: #001c2d,
    900: #000c14,
    A100: #14a4ff,
    A200: #2daeff,
    A400: #47b8ff,
    A700: #000000,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text
    )
  )
);

$bicm-blue-light: mat.define-palette(
  (
    50: #89b3ce,
    100: #77a8c6,
    200: #659cbf,
    300: #5291b7,
    400: #4684aa,
    500: #3f7698,
    600: #386886,
    700: #305a74,
    800: #294c62,
    900: #213e50,
    A100: #9bbfd5,
    A200: #adcadd,
    A400: #bfd6e4,
    A700: #1a303e,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text
    )
  )
);

$bicm-green: mat.define-palette(
  (
    50: #add799,
    100: #9fd087,
    200: #90c975,
    300: #81c163,
    400: #73ba50,
    500: #66ad44,
    600: #5b9b3d,
    700: #508836,
    800: #46762e,
    900: #3b6427,
    A100: #bcdeac,
    A200: #cbe5be,
    A400: #d9edd0,
    A700: #305120,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text
    )
  )
);

$typography-config: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(96px, 96px, 300, $letter-spacing: -1.5px),
  $headline-2: mat.define-typography-level(60px, 60px, 300, $letter-spacing: -0.5px),
  $headline-3: mat.define-typography-level(48px, 48px, 400, $letter-spacing: 0px),
  $headline-4: mat.define-typography-level(34px, 34px, 400, $letter-spacing: 0.25px),
  $headline-5: mat.define-typography-level(24px, 24px, 400, $letter-spacing: 0px),
  $headline-6: mat.define-typography-level(20px, 20px, 500, $letter-spacing: 0.15px),
  $subtitle-1: mat.define-typography-level(16px, 16px, 400, $letter-spacing: 0.15px),
  $subtitle-2: mat.define-typography-level(14px, 14px, 500, $letter-spacing: 0.1px),
  $body-2: mat.define-typography-level(16px, 16px, 400, $letter-spacing: 0.5px),
  $body-1: mat.define-typography-level(14px, 14px, 400, $letter-spacing: 0.25px),
  $button: mat.define-typography-level(14px, 14px, 500, $letter-spacing: 1.25px),
  $caption: mat.define-typography-level(12px, 20px, 400, $letter-spacing: 0.4px),
  $overline: mat.define-typography-level(10px, 10px, 400, $letter-spacing: 1.5px)
);

$warn: mat.define-palette(mat.$red-palette);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: $bicm-blue,
      second: $bicm-blue-light,
      accent: $bicm-blue,
      warn: mat.$red-palette
    ),
    density: -1,
    typography: $typography-config
  )
);

$primary: define-dynamic-palette('primary');
$accent: define-dynamic-palette('accent');

@include set-root-variables($primary, $accent);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    density: -1,
    typography: $typography-config
  )
);

// Mat List Theme no longer supports the use of css variables,
// to prevent a warning and that modules styles from breaking
// we must use the default theme
//@include mat.all-component-themes($tenant-theme);
@include all-dynamic-component-themes($theme);
@include all-static-component-themes($default-theme);
